body {
    background-image: url(https://infostart.hu/images/site/articles/lead/2020/09/1601327236-FNMPi7Mr5_md.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: -1;
    height: 100%;
}